<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>The 'The Clock' Clock — realtime metadata for Christian Marclay's 'The Clock'</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://code.divshot.com/bootstrap-theme-cirrus/dist/css/bootstrap.css">
  <!-- local styles -->
  <style type="text/css" media="screen">
  body {
    font-size: 1.6em;
  }
  ul, ol {
    padding:0;
  }
  ul li, ol li {
    list-style-type: none;
  }
  </style>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body id="list">
  <ol class="list-group">
    {{#list}}
    <li {{#time}}data-hour="{{24hour}}" data-minute="{{min}}"{{/time}}  class="list-group-item">
      <ul class="row">
        {{#time}}
          <li class="col-xs-2 text-muted text-right"><kbd><small>{{timestamp}}</small></kbd></li>
        {{/time}}
        <li class="col-xs-10">{{text}}</li>
      </ul>
    </li>
    {{/list}}
  </ol>
  <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="thetheclockclock.js"></script>
</body>
</html>