body * {
  transition-duration: 0.5s;
  transition-property: color, background-color;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Lucida Grande", Tahoma, Verdana, "Helvetica Neue", Helvetica, Aria, sans-serif;
}
body {
  font-size: 1.6em;
  padding-top: 60px;
  padding-bottom: 100%;
}
nav.navbar-fixed-top {
  box-shadow: 0 0 0.5em rgba(241, 244, 244, 0.67);
}
.navbar > * {
  float: left;
}
#switch {
  margin-right: 10px;
  float: right;
}
#switch .off,
#switch .on {
  width: 2em;
  display: inline-block;
}
#start .off,
#start .on {
  width: 3.5em;
  display: inline-block;
}
#lightswitch {
  width: 6.5em;
}
#time {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  position: fixed;
  top: 1em;
  left: 30%;
  right: 30%;
  width: 40%;
}
.jumbotron {
  border-bottom: 3px solid #DEE6E6;
}
ul,
ol {
  padding: 0;
}
ul li,
ol li {
  list-style-type: none;
}
.list-group-item {
  padding: 1.5em 0 2em;
}
body.dark,
body.dark .jumbotron,
body.dark .list-group-item,
body.dark .navbar-default {
  border-color: #455860;
  background-color: black;
}
body.dark,
body.dark .jumbotron,
body.dark .list-group-item,
body.dark .navbar-default,
body.dark a.navbar-brand,
body.dark .jumbotron a.navbar-brand,
body.dark .list-group-item a.navbar-brand,
body.dark .navbar-default a.navbar-brand,
body.dark #time *,
body.dark .jumbotron #time *,
body.dark .list-group-item #time *,
body.dark .navbar-default #time *,
body.dark .jumbotron,
body.dark .jumbotron .jumbotron,
body.dark .list-group-item .jumbotron,
body.dark .navbar-default .jumbotron {
  color: #959fa3;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #959fa3;
}
body.dark .jumbotron p {
  color: #45575f;
}
body.dark .btn-default {
  background-color: #45575f;
}
body.dark .btn-primary {
  color: #ecefed;
  background-color: #849194;
}
body.dark nav.navbar-default {
  background-color: #161d1d;
}
body.dark nav.navbar-fixed-top {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.67);
}
body.dark .text-muted {
  color: #333333;
}
body.dark .active {
  color: white;
  background-color: #455860;
}
body.dark .active .text-muted {
  color: #959fa3;
}
