<!DOCTYPE html>
<html manifest="/cache.manifest.txt">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{title}} — {{tagline}}</title>
  <link rel="stylesheet" href="/bower_components/bootstrap-theme-cirrus/dist/css/bootstrap.min.css" type="text/css" charset="utf-8">
  <!-- local styles -->
  <link rel="stylesheet" href="/style.css">
  
  <!-- apple webapp stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
  <!-- <link rel="apple-touch-startup-image" href="/startup.png"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- non-retina iPhone pre iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon57.png" sizes="57x57"> -->
  <!-- non-retina iPad pre iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon72.png" sizes="72x72"> -->
  <!-- non-retina iPad iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon76.png" sizes="76x76"> -->
  <!-- retina iPhone pre iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon114.png" sizes="114x114"> -->
  <!-- retina iPhone iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon120.png" sizes="120x120"> -->
  <!-- retina iPad pre iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon144.png" sizes="144x144"> -->
  <!-- retina iPad iOS 7 -->
  <!-- <link rel="apple-touch-icon" href="icon152.png" sizes="152x152"> -->
    
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="/bower_components/respond/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <b class="visible-xs">
          <span class="glyphicon glyphicon-film"></span>
          {{title_short}}
        </b>
        <span class="hidden-xs">
          {{{title_html}}}
        </span>
      </a>
    </div>
    <span id="time" href="#" class="hidden">
      <kbd class="text-muted">00:00</kbd>
    </span>
    <button id="switch" href="#" class="btn btn-default navbar-btn hidden">
      <span class="glyphicon glyphicon-time"></span> 
      <span class="off">Off</span>
      <span class="on hidden">On</span>
    </button>
  </nav>
  
  <section id="intro" class="jumbotron">
    <div class="container">
      <h1>{{{title_html}}}</h1>
      <p>{{{tagline_html}}}</p>
      
      <p>
        <button id="start" href="#" class="btn btn-primary btn-lg hidden" role="button">
          <span class="glyphicon glyphicon-time"></span> 
          <span class="off">Start</span>
          <span class="on hidden">Stop</span>
        </button>
        <button id="lightswitch" href="#" class="btn btn-primary btn-lg xhidden" role="button"> 
          <span class="off"><span class="glyphicon glyphicon-eye-open"></span> Dark</span>
          <span class="on hidden"><span class="glyphicon glyphicon-eye-close"></span> Light</span>
        </button>
        <a href="https://github.com/eins78/the-the-clock-clock#readme" class="btn btn-default btn-lg" role="button">
          <span class="glyphicon glyphicon-new-window"></span>
          About
        </a>
      </p>
      
      <p>
        <a href="{{dataSourceUrl}}" class="btn btn-default" role="button">
          <span class="glyphicon glyphicon-new-window"></span>
          {{dataSource}}
        </a>
        <a href="{{checkTimeUrl}}" class="btn btn-default" role="button">
          <span class="glyphicon glyphicon-new-window"></span>
          {{checkTime}}
        </a>
      </p>
    </div>
  </section>
  
  <section class="container">
    <h2 class="row">
      <span class="col-xs-2 text-muted text-right">
        <span class="glyphicon glyphicon-list-alt"></span>
      </span>
      <span class="col-xs-10">
        List
        <small> › Licensed under <kbd><a href="{{dataSourceUrl}}">CC-BY-SA</a></kbd></small>
      </span>
    </h2>
  
    <ol id="list" class="list-group">
      {{#list}}
      <li {{#time}}data-hour="{{24hour}}" data-minute="{{min}}"{{/time}}  class="list-group-item">
        <ul class="row">
          {{#time}}
            <li class="col-xs-2 text-muted text-right"><kbd><small>{{timestamp}}</small></kbd></li>
          {{/time}}
          <li class="col-xs-9">{{text}}</li>
        </ul>
      </li>
      {{/list}}
    </ol>
  
  </section>
  
  <script src="/bower_components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8" src="/thetheclockclock.js"></script>
</body>
</html>