body {
  font-size: 1.6em;
  padding-top: 60px;
  padding-bottom: 100%;
}
nav.navbar-fixed-top {
  box-shadow: 0 0 0.5em hsla(180, 11%, 95%, 0.67);
}
.navbar > * {
  float: left;
}
#switch {
  margin-right: 10px;
  float: right;
}
#switch .off,
#switch .on {
  width: 2em;
  display: inline-block;
}
#start .off,
#start .on {
  width: 3.5em;
  display: inline-block;
}
#time {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  position: fixed;
  top: 1em;
  left: 30%;
  right: 30%;
  width: 40%;
}
.jumbotron {
  border-bottom: 3px solid #DEE6E6;
}
ul, ol {
  padding: 0;
}
ul li, ol li {
  list-style-type: none;
}
.list-group-item {
  padding: 1.5em 0 2em;
}
.active {
  transition-duration: 1s;
  transition-property: all;
}